In [14]:
import pandas as pd
import numpy as np

In [19]:
df = pd.read_csv(r'C:\Users\Bharathwaj\Sports\IPL_ball_by_ball_updated.csv')

In [28]:
polly = df[(df['striker'] == "KA Pollard")]

In [29]:
polly2 = polly[(polly['bowling_team'] == "Chennai Super Kings")]

In [30]:
polly2.tail(20)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
200852,1254104,2021,2021-09-19,Dubai International Cricket Stadium,2,10.5,Mumbai Indians,Chennai Super Kings,KA Pollard,SS Tiwary,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200853,1254104,2021,2021-09-19,Dubai International Cricket Stadium,2,10.6,Mumbai Indians,Chennai Super Kings,KA Pollard,SS Tiwary,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200857,1254104,2021,2021-09-19,Dubai International Cricket Stadium,2,11.4,Mumbai Indians,Chennai Super Kings,KA Pollard,SS Tiwary,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200858,1254104,2021,2021-09-19,Dubai International Cricket Stadium,2,11.5,Mumbai Indians,Chennai Super Kings,KA Pollard,SS Tiwary,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200859,1254104,2021,2021-09-19,Dubai International Cricket Stadium,2,11.6,Mumbai Indians,Chennai Super Kings,KA Pollard,SS Tiwary,...,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200860,1254104,2021,2021-09-19,Dubai International Cricket Stadium,2,11.7,Mumbai Indians,Chennai Super Kings,KA Pollard,SS Tiwary,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200861,1254104,2021,2021-09-19,Dubai International Cricket Stadium,2,12.1,Mumbai Indians,Chennai Super Kings,KA Pollard,SS Tiwary,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200863,1254104,2021,2021-09-19,Dubai International Cricket Stadium,2,12.3,Mumbai Indians,Chennai Super Kings,KA Pollard,SS Tiwary,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200866,1254104,2021,2021-09-19,Dubai International Cricket Stadium,2,12.6,Mumbai Indians,Chennai Super Kings,KA Pollard,SS Tiwary,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200867,1254104,2021,2021-09-19,Dubai International Cricket Stadium,2,13.1,Mumbai Indians,Chennai Super Kings,KA Pollard,SS Tiwary,...,0,NaN,NaN,NaN,NaN,NaN,lbw,KA Pollard,NaN,NaN
215893,1304079,2022,2022-04-21,"Dr DY Patil Sports Academy, Mumbai",1,13.4,Mumbai Indians,Chennai Super Kings,KA Pollard,Tilak Varma,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215894,1304079,2022,2022-04-21,"Dr DY Patil Sports Academy, Mumbai",1,13.5,Mumbai Indians,Chennai Super Kings,KA Pollard,Tilak Varma,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215895,1304079,2022,2022-04-21,"Dr DY Patil Sports Academy, Mumbai",1,13.6,Mumbai Indians,Chennai Super Kings,KA Pollard,Tilak Varma,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215897,1304079,2022,2022-04-21,"Dr DY Patil Sports Academy, Mumbai",1,14.2,Mumbai Indians,Chennai Super Kings,KA Pollard,Tilak Varma,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215899,1304079,2022,2022-04-21,"Dr DY Patil Sports Academy, Mumbai",1,14.4,Mumbai Indians,Chennai Super Kings,KA Pollard,Tilak Varma,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215900,1304079,2022,2022-04-21,"Dr DY Patil Sports Academy, Mumbai",1,14.5,Mumbai Indians,Chennai Super Kings,KA Pollard,Tilak Varma,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215903,1304079,2022,2022-04-21,"Dr DY Patil Sports Academy, Mumbai",1,15.2,Mumbai Indians,Chennai Super Kings,KA Pollard,Tilak Varma,...,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215904,1304079,2022,2022-04-21,"Dr DY Patil Sports Academy, Mumbai",1,15.3,Mumbai Indians,Chennai Super Kings,KA Pollard,Tilak Varma,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215906,1304079,2022,2022-04-21,"Dr DY Patil Sports Academy, Mumbai",1,15.5,Mumbai Indians,Chennai Super Kings,KA Pollard,Tilak Varma,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215910,1304079,2022,2022-04-21,"Dr DY Patil Sports Academy, Mumbai",1,16.2,Mumbai Indians,Chennai Super Kings,KA Pollard,Tilak Varma,...,0,NaN,NaN,NaN,NaN,NaN,caught,KA Pollard,NaN,NaN

In [56]:
polly.loc[:, 'dots']= (polly['runs_off_bat'] == 0).astype(int)
polly.loc[:, 'fours'] = (polly['runs_off_bat'] == 4).astype(int)
polly.loc[:, 'sixes'] = (polly['runs_off_bat'] == 6).astype(int)

polly_stats = polly.groupby('bowling_team').agg({
    'ball': 'count',               # Total number of balls faced
    'runs_off_bat': 'sum',         # Total number of runs scored
    'player_dismissed': 'count',
    'dots': 'sum',
    'fours': 'sum',     
    'sixes': 'sum',    # Number of times dismissed
}).reset_index()

# Renaming columns for clarity
polly_stats.columns = ['bowler', 'balls_faced', 'runs_scored', 'times_dismissed', '.s', '4s', '6s']

In [57]:
polly_stats['strike_rate'] = (polly_stats['runs_scored'] / polly_stats['balls_faced']) * 100
polly_stats['average'] = (polly_stats['runs_scored'] / polly_stats['times_dismissed'])

In [58]:
polly_stats.head(15)

,bowler,balls_faced,runs_scored,times_dismissed,.s,4s,6s,strike_rate,average
0,Chennai Super Kings,355,583,17,135,42,44,164.225352,34.294118
1,Deccan Chargers,48,70,5,20,6,4,145.833333,14.000000
2,Delhi Capitals,57,52,6,25,5,1,91.228070,8.666667
3,Delhi Daredevils,226,311,13,89,19,20,137.610619,23.923077
4,Gujarat Lions,52,74,5,19,5,5,142.307692,14.800000
5,Gujarat Titans,15,4,1,12,0,0,26.666667,4.000000
6,Kings XI Punjab,323,506,15,119,26,39,156.656347,33.733333
7,Kolkata Knight Riders,263,309,12,109,18,15,117.490494,25.750000
8,Lucknow Super Giants,36,44,3,12,1,3,122.222222,14.666667
9,Pune Warriors,49,55,2,21,3,3,112.244898,27.500000
10,Punjab Kings,32,41,1,9,2,2,128.125000,41.000000
11,Rajasthan Royals,269,348,16,121,27,20,129.368030,21.750000
12,Rising Pune Supergiant,39,50,4,14,5,2,128.205128,12.500000
13,Rising Pune Supergiants,10,1,1,9,0,0,10.000000,1.000000
14,Royal Challengers Bangalore,364,556,18,129,42,32,152.747253,30.888889

In [ ]:
batsman_stats['strike_rate'] = (batsman_stats['runs_scored'] / batsman_stats['balls_faced']) * 100

In [10]:
# Define the Pandas UDF
def get_player_stats(df, batsman, bowler):
    filtered_df = df[(df['striker'] == batsman) & (df['bowler'] == bowler)]
    runs_scored = filtered_df['runs_off_bat'].sum()
    balls_bowled = filtered_df.shape[0]
    wickets_taken = filtered_df.loc[df['wicket_type'].notnull(), 'wicket_type'].count()
    strike_rate = (runs_scored / balls_bowled) * 100
    dot_balls =  filtered_df.loc[(df['runs_off_bat'] == 0), 'runs_off_bat'].count()
    fours = filtered_df.loc[(df['runs_off_bat'] == 4), 'runs_off_bat'].count()
    sixes = filtered_df.loc[(df['runs_off_bat'] == 6), 'runs_off_bat'].count()
    average = (runs_scored/wickets_taken)
    dot_percentage = (dot_balls/balls_bowled) * 100
    boundary_percentage = ((fours + sixes)/balls_bowled) * 100
    
    stats = {
        "runs": runs_scored,
        "balls": balls_bowled,
        "wickets": wickets_taken,
        "dots": dot_balls,
        "strike_rate": strike_rate,
        "4s": fours,
        "6s": sixes,
        "avg": average,
        "dot%": dot_percentage,
        "boundary%": boundary_percentage}
    return stats

In [11]:
batsman = "KA Pollard"
bowler = "Rashid Khan"
head2head = get_player_stats(df, batsman, bowler)

head2head

{'runs': 28,
 'balls': 48,
 'wickets': 2,
 'dots': 29,
 'strike_rate': 58.333333333333336,
 '4s': 1,
 '6s': 1,
 'avg': 14.0,
 'dot%': 60.416666666666664,
 'boundary%': 4.166666666666666}

In [16]:
batsman = "KA Pollard"
bowler = "SM Curran"
head2head = get_player_stats(df, batsman, bowler)

head2head

{'runs': 54,
 'balls': 24,
 'wickets': 1,
 'dots': 9,
 'strike_rate': 225.0,
 '4s': 3,
 '6s': 6,
 'avg': 54.0,
 'dot%': 37.5,
 'boundary%': 37.5}