In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r'C:\Users\Bharathwaj\Sports\IPL_ball_by_ball_updated.csv')

In [19]:
batting_team = df[(df['batting_team'] == 'Mumbai Indians')]

In [20]:
batting_team

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
692,335985,2008,2008-04-20,Wankhede Stadium,1,0.1,Mumbai Indians,Royal Challengers Bangalore,L Ronchi,ST Jayasuriya,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
693,335985,2008,2008-04-20,Wankhede Stadium,1,0.2,Mumbai Indians,Royal Challengers Bangalore,L Ronchi,ST Jayasuriya,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
694,335985,2008,2008-04-20,Wankhede Stadium,1,0.3,Mumbai Indians,Royal Challengers Bangalore,L Ronchi,ST Jayasuriya,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
695,335985,2008,2008-04-20,Wankhede Stadium,1,0.4,Mumbai Indians,Royal Challengers Bangalore,L Ronchi,ST Jayasuriya,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
696,335985,2008,2008-04-20,Wankhede Stadium,1,0.5,Mumbai Indians,Royal Challengers Bangalore,L Ronchi,ST Jayasuriya,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224751,1304115,2022,2022-05-21,"Wankhede Stadium, Mumbai",2,18.4,Mumbai Indians,Delhi Capitals,Ramandeep Singh,Tilak Varma,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224752,1304115,2022,2022-05-21,"Wankhede Stadium, Mumbai",2,18.5,Mumbai Indians,Delhi Capitals,Tilak Varma,Ramandeep Singh,...,0,NaN,NaN,NaN,NaN,NaN,caught,Tilak Varma,NaN,NaN
224753,1304115,2022,2022-05-21,"Wankhede Stadium, Mumbai",2,18.6,Mumbai Indians,Delhi Capitals,DR Sams,Ramandeep Singh,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224754,1304115,2022,2022-05-21,"Wankhede Stadium, Mumbai",2,19.1,Mumbai Indians,Delhi Capitals,Ramandeep Singh,DR Sams,...,1,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224755,1304115,2022,2022-05-21,"Wankhede Stadium, Mumbai",2,19.2,Mumbai Indians,Delhi Capitals,Ramandeep Singh,DR Sams,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
all_batsman = batting_team['striker'].unique()

print(all_batsman)

['L Ronchi' 'ST Jayasuriya' 'DJ Thornely' 'RV Uthappa' 'PR Shah'
 'AM Nayar' 'SM Pollock' 'Harbhajan Singh' 'DJ Bravo' 'MA Khote' 'A Nehra'
 'SS Tiwary' 'DS Kulkarni' 'AM Rahane' 'MK Pandey' 'YV Takawale' 'RR Raje'
 'SR Tendulkar' 'DR Smith' 'SD Chitnis' 'CRD Fernando' 'VS Yeligati'
 'S Dhawan' 'JP Duminy' 'Z Khan' 'GR Napier' 'C Nanda' 'SL Malinga'
 'Mohammad Ashraful' 'AP Tare' 'AT Rayudu' 'R Sathish' 'R McLaren'
 'KA Pollard' 'AN Ahmed' 'C Madan' 'STR Binny' 'DJ Jacobs' 'RG Sharma'
 'JEC Franklin' 'A Symonds' 'AG Murtaza' 'AC Blizzard' 'TL Suman'
 'MM Patel' 'RE Levi' 'KD Karthik' 'SA Yadav' 'PP Ojha' 'CJ McKay'
 'RP Singh' 'NLTC Perera' 'RJ Peterson' 'HH Gibbs' 'RT Ponting' 'R Dhawan'
 'MG Johnson' 'GJ Maxwell' 'NM Coulter-Nile' 'MEK Hussey' 'CJ Anderson'
 'CM Gautam' 'JJ Bumrah' 'BR Dunk' 'LMP Simmons' 'S Gopal' 'M de Lange'
 'P Kumar' 'AJ Finch' 'J Suchith' 'PA Patel' 'UBT Chand' 'R Vinay Kumar'
 'HH Pandya' 'MJ McClenaghan' 'JC Buttler' 'KH Pandya' 'TG Southee'
 'MJ Guptill' 'N Rana' 'KV Sharma' 'E Lewis' 'Ishan Kishan' 'BCJ Cutting'
 'PJ Sangwan' 'M Markande' 'A Dananjaya' 'Mustafizur Rahman' 'Q de Kock'
 'Yuvraj Singh' 'Rasikh Salam' 'RD Chahar' 'SD Lad' 'AS Joseph' 'BB Sran'
 'JL Pattinson' 'TA Boult' 'CA Lynn' 'M Jansen' 'J Yadav' 'JDS Neesham'
 'Anmolpreet Singh' 'AF Milne' 'PP Chawla' 'Tilak Varma' 'TH David'
 'DR Sams' 'M Ashwin' 'D Brevis' 'Ramandeep Singh' 'JD Unadkat' 'TS Mills'
 'FA Allen' 'HR Shokeen' 'K Kartikeya' 'RP Meredith' 'T Stubbs'
 'R Sanjay Yadav']

In [26]:
final_df = pd.DataFrame()

In [28]:
for batsman in all_batsman:
    batsman_df = batting_team[(batting_team['striker'] == batsman)]
    batsman_df.loc[:, 'dots']= (batsman_df['runs_off_bat'] == 0).astype(int)
    batsman_df.loc[:, 'fours'] = (batsman_df['runs_off_bat'] == 4).astype(int)
    batsman_df.loc[:, 'sixes'] = (batsman_df['runs_off_bat'] == 6).astype(int)
    batsman_stats = batsman_df.groupby('striker').agg({
    'ball': 'count',
    'runs_off_bat': 'sum',
    'player_dismissed': 'count',
    'dots': 'sum',
    'fours': 'sum',     
    'sixes': 'sum',
}).reset_index()
# Renaming columns for clarity
    batsman_stats['batsman'] = batsman
    batsman_stats.columns = ['bowler', 'balls_faced', 'runs_scored', 'times_dismissed', 'dots', '4s', '6s', 'batsman']
    final_df = final_df.append(batsman_stats, ignore_index=True)

In [29]:
final_df.head(30)

,bowler,balls_faced,runs_scored,times_dismissed,dots,4s,6s,batsman
0,L Ronchi,37,34,3,26,6,1,L Ronchi
1,ST Jayasuriya,573,768,29,292,84,39,ST Jayasuriya
2,DJ Thornely,54,39,3,31,2,2,DJ Thornely
3,RV Uthappa,291,320,12,133,34,9,RV Uthappa
4,PR Shah,92,87,7,47,8,2,PR Shah
5,AM Nayar,348,457,20,119,34,18,AM Nayar
6,SM Pollock,116,147,8,47,12,8,SM Pollock
7,Harbhajan Singh,591,799,53,258,76,41,Harbhajan Singh
8,DJ Bravo,401,457,21,177,37,17,DJ Bravo
9,MA Khote,22,24,2,10,2,1,MA Khote
10,A Nehra,13,3,0,10,0,0,A Nehra
11,SS Tiwary,577,728,23,191,59,24,SS Tiwary
12,DS Kulkarni,46,26,3,27,2,0,DS Kulkarni
13,AM Rahane,147,148,8,65,13,3,AM Rahane
14,MK Pandey,10,3,2,7,0,0,MK Pandey
15,YV Takawale,91,88,3,51,9,2,YV Takawale
16,RR Raje,18,20,1,6,1,1,RR Raje
17,SR Tendulkar,2043,2333,71,874,296,29,SR Tendulkar
18,DR Smith,494,620,19,232,63,27,DR Smith
19,SD Chitnis,10,18,2,1,1,1,SD Chitnis
20,CRD Fernando,3,4,1,0,0,0,CRD Fernando
21,VS Yeligati,2,2,1,1,0,0,VS Yeligati
22,S Dhawan,226,231,14,104,26,3,S Dhawan
23,JP Duminy,514,565,13,198,42,17,JP Duminy
24,Z Khan,31,40,4,12,3,2,Z Khan
25,GR Napier,16,15,1,7,1,0,GR Napier
26,C Nanda,1,0,1,1,0,0,C Nanda
27,SL Malinga,103,88,12,59,6,5,SL Malinga
28,Mohammad Ashraful,12,2,1,10,0,0,Mohammad Ashraful
29,AP Tare,245,313,19,114,36,11,AP Tare

In [30]:
final_df_sorted = final_df.sort_values(by='runs_scored', ascending=False)
final_df_sorted.head(30)

,bowler,balls_faced,runs_scored,times_dismissed,dots,4s,6s,batsman
156,RG Sharma,3723,4711,161,1439,423,190,RG Sharma
38,RG Sharma,3723,4711,161,1439,423,190,RG Sharma
33,KA Pollard,2447,3437,129,967,221,224,KA Pollard
151,KA Pollard,2447,3437,129,967,221,224,KA Pollard
30,AT Rayudu,1964,2416,88,693,205,79,AT Rayudu
148,AT Rayudu,1964,2416,88,693,205,79,AT Rayudu
17,SR Tendulkar,2043,2333,71,874,296,29,SR Tendulkar
135,SR Tendulkar,2043,2333,71,874,296,29,SR Tendulkar
47,SA Yadav,1498,2036,60,552,230,63,SA Yadav
165,SA Yadav,1498,2036,60,552,230,63,SA Yadav
200,Ishan Kishan,1189,1551,48,460,132,72,Ishan Kishan
82,Ishan Kishan,1189,1551,48,460,132,72,Ishan Kishan
73,HH Pandya,1019,1485,56,385,97,99,HH Pandya
191,HH Pandya,1019,1485,56,385,97,99,HH Pandya
88,Q de Kock,1033,1332,39,406,120,54,Q de Kock
206,Q de Kock,1033,1332,39,406,120,54,Q de Kock
194,KH Pandya,853,1143,48,326,105,46,KH Pandya
76,KH Pandya,853,1143,48,326,105,46,KH Pandya
182,LMP Simmons,878,1079,27,402,109,44,LMP Simmons
64,LMP Simmons,878,1079,27,402,109,44,LMP Simmons
188,PA Patel,724,911,40,308,119,17,PA Patel
70,PA Patel,724,911,40,308,119,17,PA Patel
125,Harbhajan Singh,591,799,53,258,76,41,Harbhajan Singh
7,Harbhajan Singh,591,799,53,258,76,41,Harbhajan Singh
1,ST Jayasuriya,573,768,29,292,84,39,ST Jayasuriya
119,ST Jayasuriya,573,768,29,292,84,39,ST Jayasuriya
164,KD Karthik,639,748,35,263,84,16,KD Karthik
46,KD Karthik,639,748,35,263,84,16,KD Karthik
129,SS Tiwary,577,728,23,191,59,24,SS Tiwary
11,SS Tiwary,577,728,23,191,59,24,SS Tiwary